<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The Flutter tool needs INTERNET to talk to the running app. Debug builds
         may also call a local http:// test server (10.0.2.2 on the emulator). -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:usesCleartextTraffic="true" />
</manifest>
